<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create new Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="alert alert-success">Create new product</h1>
    <div class="row">
      <div class="col-md-2"></div>
          <div class="col-md-8">
              <!-- Formulario -->
              <form method="POST" action="/admin/products/store" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="product_name" class="form-label">Nombre del Producto</label>
                  <input name="product_name" type="text" class="form-control" id="product_name">
                </div>
                <div class="mb-3">
                  <label for="product_reference" class="form-label">Referencia del Producto</label>
                  <input name="product_reference" type="text" class="form-control" id="product_reference">
                </div>
                <div class="mb-3">
                    <label for="product_size" class="form-label">Tamaño del Producto</label>
                    <input name="product_size" type="text" class="form-control" id="product_size">
                  </div>
                  <div class="mb-3">
                    <label for="product_description" class="form-label">Descripcion del Producto</label>
                    <input name="product_description" type="text" class="form-control" id="product_description">
                  </div>
                    <div class="mb-3">
                      <label for="product_image" class="form-label">Imagen del Producto</label>
                      <input type="file" name="product_image" class="form-control" id="product_image">
                    </div>
                    <div class="mb-3">
                      <label for="category_id">Selecciona una opcion</label>
                      <select name="category_id" id="category_id">
                        <% categories.map( (category) =>{%>
                        <option value="<%=category.category_id%>"><%=category.category_name%></option>
                        <% }) %>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="product_price" class="form-label">Precio del Producto</label>
                      <input type="number" name="product_price" class="form-control" id="product_price">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      <div class="col-md-2"></div>
  </div>
  </body>
</html>